.rathos-homepage {
  position: relative;
  overflow-x: hidden;

  .page-search-wrapper {
    position: relative;
    margin-bottom: 64px;
    .page-search-asset {
      width: 1000vw;
      height: 360px;
      background: #E0E0E0;
      margin: 0px -100%;
    }

    .search-input-wrapper {
      position: absolute;
      top: 340px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .input-group {
        height: 40px;
        width: 44.75%;
        margin-right: 0.50%;
        .form-control {
          border-radius: 5px;
        }
      }
  
      .btn {
        width: 4.75%;
        background: #707070;
        border: 1px solid #707070;
        height: 40px;
      }
    }

  }

  .showing-text {
    font-size: 14px;
    color: #707070;
  }

  .page-images-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 25vh;
    margin-top: 24px;

    .empty-image {
      width: 100%;
      height: 25vh;
      display: flex;
      justify-content: center;
      align-items: center;
      .empty-text {
        font-size: 48px;
        font-weight: 700;

      }
    }
  }

  .pagination-component {
    margin-bottom: 24px;
  }

}

@media (max-width: 771px) {
  .rathos-homepage {

    .page-search-wrapper {
      .search-input-wrapper {
        .input-group {
          width: 81.625%;
          margin-right: 1.75%;
        }

        .btn {
          width: 16.625%;
        }
      }
    }

    .page-images-wrapper {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
}