#rathos-header {
  height: 55px;
  padding: 0px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: inset 0px -1px 0px #f3f3f4;
  
  .header-title-wrapper {

    .header-title {
      font-size: 30px;
      font-weight: 700;
      line-height: 55px;
      color: #000;
    }
  }
}